
.hero{
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 600px;
  margin-left: 500px;


}
.jump{
  animation: jump .1s;
}
@keyframes jump {
  0%{
    margin-top: 600px;
  }
  100%{
    margin-top:150px;
  }
}

.enemy{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-top: 150px;
  margin-left: 1500px;
  animation: EnemyMov 1s infinite linear;
}
@keyframes EnemyMov {
  0%{
    margin-left: 2500px;
  }
  100%{
    margin-left: -20px;
  }
}
